@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #303e4d;
    --text-black-700: #504e70;
    --box-shadow: 0 0 30px rgba(46, 48, 77, 0.4);
}

body.dark{
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
    --box-shadow: 0 0 30px rgba(240, 240, 249, 0.619);
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px; 
    overflow-x: hidden;
    font-family: 'Poppins' sans-serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.hide.aside{
    display: none;
}

.main-content{
    padding-left: 270px;
    overflow-x: hidden;
}

.padd-15{
    padding-right: 15px;
    padding-left: 15px;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    border: none;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
}

/* aside */
.aside{
    width: 270px;
    background-color: var(--bg-black-100);
    position: fixed;
    padding: 30px;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside.active{
    width: 80px;
}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: none;
}

.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
}

.aside .logo a span{
    font-family: 'Clicker Script' , cursive;
    font-size: 30px;
}

.aside .logo a ::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a ::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    position: fixed;
    top: 20px;
    left: 30px; 
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 15;
    cursor: pointer;
    transition: left 0.3s ease;
    overflow-y: hidden;
    overflow: hidden;
}

.aside.active .nav-toggler {
    left: 100px; 
}

.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav{
    margin-top: 50px;
}

.aside .nav li{
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50) ;
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active{
    color: var(--skin-color);
}

.aside .nav li a i{
    margin-right: 15px;
}

/* Home */

.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span{
    font-family: 'Clicker Script' , cursive;
    font-size: 40px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.profession{
    font-size: 30px;
    margin: 15px 0;
}

.typing{
    color: var(--skin-color);
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    text-align: center;
}


.home .home-img::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    top: -45px;
    left: 20px;
}

.home .home-img::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-right: 10px solid var(--skin-color);
    border-bottom: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}

.home .home-img img{
    height: 400px;
}

/* About */

.about .about-container{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span{
    color: var(--skin-color);
}

.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}


.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p{
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons{
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;    
}

.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
    position: relative;
}

.about .about-content .skills .skill-item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .progress .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    line-height: 40px;
    font-weight: 400;
}

/* Services */

.services .container{
    padding-bottom: 40px;
}

.services .service-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.services .service-item .service-item-inner{
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.services .service-item .service-item-inner:hover{
    box-shadow: var(--box-shadow);
}

.services .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto 30px;
    transition: all 0.3s ease
}

.services .service-item .service-item-inner .icon i{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease
}

.services .service-item .service-item-inner:hover .icon{
    background-color: var(--skin-color);
}

.services .service-item .service-item-inner:hover .icon i{
    color: #ffffff;
    font-size: 25px;
}

.services .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.services .service-item .service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/* Portfolio */

.portfolio .container{
    padding-bottom: 40px;
}

.portfolio .portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item {
    margin-bottom: 40px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
}

.portfolio .portfolio-item-inner {
    border: 6px solid var(--bg-black-50);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative; 
}

.portfolio-img {
    position: relative; 
}

.portfolio .portfolio-item .btn{
    margin-top: 10px;
    width: 287px;
}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    display: block;
    height: 170px;
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.portfolio .portfolio-item-inner:hover .overlay {
    opacity: 1;
}

.portfolio .portfolio-item-inner:hover {
    box-shadow: var(--box-shadow);
}

/* Contact */

.contact .contact-title{
    color: var(--skin-color);
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.contact .contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    margin-bottom: 60px;
    font-size: 15px;
}

.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon{
    display: inline-block;
}

.contact .contact-info-item .icon i{
    font-size: 25px;
    color: var(--skin-color);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
}

.contact .contact-info-item .icon i:hover{
    background: var(--skin-color);
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.contact .contact-info-item h4{
    font-size: 18px;
    color: var(--text-black-900);
    font-weight: 700;
    margin: 15px 0 5px;
}

.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-black-700);
}

.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item{
    margin-bottom: 30px;
}

.contact .contact-form .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-control:focus{
    box-shadow: var(--box-shadow)
}

.contact .contact-form textarea.form-control{
    height: 140px;
}

.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}

/* responsive */

@media (max-width: 1199px){
    .aside{
        left: -270px;
    }

    .nav{
        text-align: center;
    }

    .main-content{
        padding-left: 0;
        padding-right: 0;
    }

    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
    
    .aside {
        width: 60px;
        left: -60px;
        transition: left 0.3s ease;
    }

    .aside .logo{
        display: none;
    }
    
    .aside.active {
        left: 0;
    }
  
    .aside.active + .main-content{
        padding-left: 80px
    }

    .aside .nav-toggler {
        display: flex;
    }
  
    .aside .nav {
        display: none;
    }
  
    .aside.active .nav {
      display: block;
    }
      
}

@media (max-width: 991px){
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .services .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }


    .portfolio .portfolio-item-inner .portfolio-img img{
        height: 225px;
    }

    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img{
        display: none;
    }
}

@media (max-width: 750px){
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .services .service-item,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .aside.active{
        width: 50px;
    }

    .aside.active .nav-toggler{
        left: 70px;
    }

    .aside.active + .main-content{
        padding-left: 50px
    }
}

@media (max-width: 320px){
    body{
        font-size: 10px;
    }

    .main-content{
        margin-right: 0;
    }
}